<div class='user-show-wrapper'>
<%= render partial: 'posts/header' %>

  <div class='map-content'>
    <div class='map-content__map'>
    </div>
  </div>



  <div class='posts-content'>
    <div class='posts-content__field'>
      <ul class='posts-content__list'>
        <% @posts.each do |post|%>
          <%= render partial: 'posts/post', locals: { post: post } %>
        <% end %>
        <% if @posts.length < 1 %>
            <div class='no-post-message'>
              <h1>まだ投稿がありません</h1>
            </div>
        <%end%>
      </ul>
      <%= paginate @posts %>
    </div>
  </div>
</div>