<ul class='map-image'>
  <li><%= post.title %></li>
  <li><%= post.address%></li>
  <li><%= image_tag post.image %></li>
  <li><%= link_to "Googleマップで開く", "https://maps.google.co.jp/maps?q=loc:#{post.latitude},#{post.longitude}&iwloc=J",target: "_blank" %></li>
</ul>