<div class='left-content'>
  <div class='left-content__map'>
    <%if user_signed_in?%>
    <div class='post-btn'>
      <p>登録</p>
    </div>
    <%end%>
    <div class='map-name'>
      <p>捨て猫map</p>
    </div>
    <div id="map">読み込めませんでした。リロードしてください。</div>
    <div id="result"></div>
  </div>
</div>