<li class='new-post-card'>
  <div class='new-post-card__image'>
    <%= image_tag new_post.image.to_s%>
  </div>
  <div class='new-post-card__title'>
    <%= new_post.title%>
  </div>
  <div class='new-post-card__btn'>
    <%= link_to "詳細", post_path(new_post.id)%>
  </div>
  <div class='new-post-card__time'>
    <%= new_post.created_at.strftime("%Y-%m-%d %H:%M:%S")%>
  </div>
</li>