
.notice {
  color: white;
  background-color: rgba(0, 0, 255, 0.7);
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.alert {
  color: white;
  background-color: rgba(255, 0, 0, 0.7);
  text-align: center;
  height: 30px;
  line-height: 30px;
}

