.header{
  height: 60px;
  width: 100%;
  background-color: #99847B;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  z-index: 1;
}

.logo_field{
  margin:10px 0px 10px 20px;
  float: left;
  cursor: pointer;
}

.header_logo_image{
  height: 40px;
}

.sign_btn_field{
  float: right;
  padding-right: 10px;
  display: inline-flex;
}

.header_btn{
  line-height: 60px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  &:hover{
    opacity: 0.8;
  }
}

.new_post_btn_field a{
  color: #7C544D;
  border:2px solid #7C544D;
  margin-right: 20px;
}

.sign_up_field a{
  color: #3399ff;
  border:2px solid #3399ff;
  margin-right: 20px;
}

.sign_in_field a{
  color:  #44A828;
  border:2px solid  #44A828;
}

.my_page_btn_field img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid	#D19062;
  cursor: pointer;
  margin-top: 5px;
  box-shadow: 0px 2px 7px 0px white; 
  object-fit: cover;
  &:hover{
    opacity: 0.8;
  }
}

.my_window{
  background-color: white;
  position: absolute;
  top: 65px;
  right: 5px;
  display: none;
  width: 150px;
  & li{
    text-align: center;
    border: 1px solid	#D19062;
    box-shadow: 0px 2px 7px 0px white;
    background-color: #DBD4D0; 
    
    & i{
      padding-right: 5px;
      color: #3A1602;
    }
    & a{
      text-decoration: none;
      color:#3A1602;
      padding: 10px;
      display: block;
      &:hover{
        background-color: #AFA097;
      }
    }
  }
}

.my_window_name{
  font-size: 16px;
  color: black;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
}


