.luxbar-menu{
  background-color: rgba(124,84,77,0.9);
}

.luxbar-header{
  background-color: #99847B;
}

.luxbar-navigation{
  background-color: #99847B;
}


.header_logo_image{
  height: 40px;
}


.sp-menu{
  display: none;
}

.pc-menu{
  background-color: white;
  border: 1px solid #99847B;
  color: #7C544D;
  & a{
    display: block;
    text-decoration: none;
  }
}

.search-field{
  height: 58px;
  line-height: 58px;
  text-align: center;
  &__submit{
    display: none;
  }
  & i{
    font-size: 20px;
    top: 20px;
    cursor: pointer;
  }
}

#search{
  height: 40px;
  line-height: 40px;
  width: 300px;
  border: none;
  background-color: #f5f5f5;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #D19062;
  position: relative;
  color: black;
}


.sign_up_field{
  height: 58px;
  line-height: 58px;
  margin: 0 10px;
  a{
  color: #3399ff;
  border:2px solid #3399ff;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  }
}

.sign_in_field{
  height: 58px;
  line-height: 58px;
  margin: 0 10px;
  a{
  color:  #44A828;
  border:2px solid  #44A828;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  }
}

.my_page_btn_field {
  line-height: 58px;
  background-color:#99847B ;
  & img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid	#D19062;
    cursor: pointer;
    box-shadow: 0px 2px 7px 0px white; 
    object-fit: cover;
    &:hover{
      opacity: 0.8;
    }
  }
}


.dropdown{
  height: 58px;
  line-height: 58px;
  width: 150px;
  text-align: center;
  border-style: none;;
}


@media screen and (max-width: 767px) {


  .luxbar-navigation{
    background-color: transparent;
}

  .sign_up_field{
    text-align: center;
    height: 56px;
    line-height: 56px;
    font-size: 18px;
    font-weight: bold;
    a{
      color: white;
      padding: 18px 24px 18px 24px;
      border-style: none;
      background-color: transparent;
    }
  }
  .sign_in_field{
    text-align: center;
    height: 56px;
    line-height: 56px;
    font-size: 18px;
    font-weight: bold;
    a{
      padding: 18px 24px 18px 24px;
    color: white;
    border-style: none;
    background-color: transparent;
    }
  }
  
  .my_page_btn_field{
    display: none;
  }

  .pc-menu{
    display: none;
  }

  .sp-menu{
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-weight: bold;
    display: block;
    a{
      padding: 18px 24px 18px 24px;
      color: white;
      border-style: none;
      background-color: transparent;
    }
  }
}