.post-wrapper{
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: fixed;
}





.map-image img{
  height: 150px;
}

#map{
  height: 600px;
  width: 100%;
  background-color: #f3f3f3;
  text-align: center;
  line-height: 700px;
  border: 1px solid	#D19062;
}

.map-content{
  height: 100%;
  width: 30%;
  background-color: #7C544D;
  position: fixed;
  float: left;
  &__map{
    padding:0 10px;
    width: inherit;
    box-sizing: border-box;
    position: fixed;
    bottom: 10px;
    & p{
      text-align: center;
      color: white;
      letter-spacing: 1px;
    }
    & button{
      margin-bottom: 20px;
    }
    }
  }

.post_btn p{
  border: 2px solid red;
  color: red;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 7px 0px white; 
  width: 200px;
  margin: 0 auto 20px;
  font-size: 30px;
  cursor: pointer;
  &:hover{
    opacity: 0.7;
  }
}



.posts-content{
  width: 70%;
  box-sizing: border-box;
  background-color: #F8F4F1;
  position: relative;
  float: right;
  padding: 80px 10px 10px;
  &__field{
    height: calc(100vh - 80px);
    width: 100%;
    background-color: #F8F4F1;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
  }
}

.post-card{
  width: 31.333%;
  height: 470px;
  margin: 1%;
  padding: 10px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0 ,0 ,0,4), 0 0 40px rgba(0 ,0 ,0,.1) inset;
  &__avatar{
    height: 50px;
    width: 50px;
    position: absolute;
    & img{
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }
  &__image{
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,.6);
    & img{
      width: 100%;
      height: 300px;
      object-fit: contain;
    }
  }
  &__title{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    overflow: scroll;
    height: 28px;
  }
  &__btn{
    text-align: center;
  background-color: white;
  width: 60%;
  display: block;
  line-height: 40px;
  margin: 10px auto 0;
  border-radius: 5px;
  & a{
    color:#7C544D;
    text-decoration: none;
    display: block;
    border: 2px solid #7C544D;
    border-radius: 5px;
    &:hover{
      background-color: #7C544D;
      color: white;
    }
  }
  }
  &:hover{
    border: 1px solid #7C544D;
  }
}

.open-googlemap-btn{
  text-align: center;
  background-color: white;
  width: 80%;
  border-radius: 5px;
  display: block;
  line-height: 40px;
  margin: 10px auto 0;
  & a{
    color:#7C544D;
    text-decoration: none;
    display: block;
    border: 2px solid #7C544D;
    border-radius: 5px;
    &:hover{
      background-color: #7C544D;
      color: white;
    }
  }
}





.modal{
  background-color: rgba(0,0,0,0.7);
  display: none;
  position: fixed;
  width: 70%;
  height: 100%;
  top: 0;
  right: 0;
  margin-left: 30%;
  margin-top: 60px;
}

.fa-times-circle{
  color: rgba(255,255,255,0.8);
  float: right;
  margin: 30px;
  font-size: 40px;
  cursor: pointer;
  &:hover{
    color: rgba(255,255,255,0.5)
  }
}

.post-content{
  height: 100%;
  width: 60%;
  background-color: #7C544D;
  &__post{
    width: 400px;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:10px auto;
    height: fit-content;
    background-color: white;
    border: 2px solid	#D19062;
    box-shadow: 0 0 8px white;
    border-radius: 5px;
    max-height: 700px;
    overflow: scroll;
  }
}

#get-my-place-btn{
  height: 40px;
  width: 40%;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  cursor: pointer;
  background-color:#aaaaaa;
  border-style:none;
  color: white;
  letter-spacing: 1px;
  transition: .3s;
  border-radius: 5px;
  &:hover{
    cursor: pointer;
    background-color: white;
    color: #aaaaaa;
    border: 2px solid #aaaaaa;
  }
}

#image_field{
  height: 300px;
  width: 100%;
  background-color: #f3f3f3; 
  border: 1px solid	#D19062;
  cursor: pointer;
  & p{
    padding-top: 100px;
  }
}


#img_prev{
  height: 298px;
  width: 100%;
  object-fit: contain;
  display: none;
}


.fa-image{
  font-size: 30px;
  padding-left: 47%;
}

.post_field{
  padding: 10px 0;
  & p{
    text-align: center;
  }
  & input{
    width: 100%;
    height: 40px;
    border: 1px solid	#D19062;
    border-radius: 5px;
  }
  & textarea{
    width: 100%;
    height: 150px;
    border: 1px solid	#D19062;
    border-radius: 5px;
  }
  & label {
    display: block;
    & span{
      color: red;
      padding-left: 10px;
    }
  }
}

#new_post label{
  width: 100%;
}

#post_address{
  display: block;
}

.none{
  display: none;
}

.post_input{
  padding: 10px 10px;
  box-sizing: border-box;
}

.post_actions{
  & input{
  background-color:rgba(191,142,100,1);
  border-style:none;
  color: white;
  letter-spacing: 1px;
  transition: .3s;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  height: 40px;
  width: 30%;
    &:hover{
      cursor: pointer;
      background-color: white;
      color: rgba(191,142,100,1);
      border: 2px solid rgba(191,142,100,1);
    }
  }
}

.title_label{
  display: none;
}

.address_label{
  display: none;
}

.detail_label{
  display: none;
}

.btn_label{
  display: none;
  padding-bottom: 10px;
}

#post_image{
  display: none;
}


