#edit-modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 2;
  margin-top: 58px;
}

.edit-modal-close-btn{
  color: rgba(255, 255, 255, 0.8);
  float: right;
  margin: 60px 30px;
  font-size: 40px;
  cursor: pointer;
  
}

.edit-modal {
  position: absolute;
  width: 450px;
  height: 660px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin:auto ;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  background-color: #7C544D;
  box-shadow: 0 0 8px gray;
  padding: 10px;
  &__content{
    text-align: center;
    color: white;
    font-weight: bold;
    height: 50px;
    background-color: #7C544D;
    border-radius: 5px 5px 0 0;
    padding: 10px;
  }
}
.edit-modal__content h2{
  font-weight: bold;
  font-size: 25px;
}

.fa-times{
  position: relative;
  bottom: 45px;
  right: 220px;
  font-size: 30px;
  &:hover{
    cursor: pointer;
    opacity: 0.7;
  }
}

.profile-header{
  widows: 100%;
  height: 195px;
  padding: 0 -10px;
  background-image: image-url("neko.jpg");
  padding-top: 20px;
  background-size: cover;
  margin: 0 -10px;
}


#profile-img{
  display:none;
}

.avatar-present-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid white ;
  transition-duration: 1s;
  display: block;
  margin: auto;
  
}



.fa-camera{
  color:white;
  border-radius: 50%;
  font-size: 30px;
  opacity: 0.8;
  transition-duration: 0.3s;
  position: relative;
  bottom: 100px;
  &:hover{
    transform:rotate(360deg);
    font-size: 50px;
    opacity: 1;
    cursor: pointer;
    color: black;
  }
}

.delete-btn{
display: block;
padding-bottom: 10px;
color: white;
}

#user_remove_avatar:hover{
  cursor: pointer;
}

#avatar-img-prev{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid white ;
  display: none;
  transition-duration: 1s;
  margin: auto;
}


.nickname_edit{
  font: 15px/24px sans-serif;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 8px;
  box-shadow: 1px 1px 2px 0 #707070 inset;
  letter-spacing: 1px;
  border: 1px solid #ffffff;
}

#user_address{
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 20px;
  box-shadow: 1px 1px 2px 0 #707070 inset;
  letter-spacing: 1px;
  border: 1px solid #ffffff;
  &:hover{
    cursor: pointer;
  }
}

#user_introduction{
  width: 100%;
  height: 200px;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 8px;
  box-shadow: 1px 1px 2px 0 #707070 inset;
  letter-spacing: 1px;
  border: 1px solid #ffffff;
}


.edit-btn{
  height: 40px;
  width: 60px;
  display: block;
  border-radius: 5px;
  background-color: rgba(0,153,255,1);
  color: white;
  font-weight: bold;
  &:hover{
    cursor: pointer;
    background-color: rgba(0,153,255,0.8);
  }
}

.profile-back-button{
  height: 40px;
  line-height: 40px;
  color: white;
  width: 60px;
  background-color: #BFBFBF;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}


.edit-name{
  float: left;
  color: white;
}

.edit-actions{
  display: flex;
  justify-content: space-between;
}




@media screen and (max-width: 559px) {

  .edit-modal{
    width: 360px;
    max-height: 480px;
    overflow: scroll;
  }
}